<ion-view id="signup-view">
<ion-nav-bar class="bar-balanced">
  <ion-nav-buttons side="left">
    <button class="button button-clear header-item"
        ng-click="$root.changePage('Channel', $event)">
      <i class="icon ion-home"></i>
    </button>

    <button class="button back-button buttons button-clear header-item" ng-click="vm.goBack();">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
</ion-nav-bar>
  <div class="cont">
    <div class="demo top-20">

      <div class="login">
        <!-- <div class="login__check"></div> -->
        <ion-content class="content-top-20">

          <div class="login__form">
            <form name="signupForm" novalidate ng-submit="vm.register()">
              <div class="login__row">
                <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                  <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" stroke="#33cd5f"
  stroke-width="1" fill="none"/>
                </svg>
                <input required name="username" type="text" class="login__input name" placeholder="Username" ng-model="vm.user.username"/>
              </div>
              <div class="login__row">
                <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                  <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" stroke="#33cd5f"
  stroke-width="1" fill="none"/>
                </svg>
                <input required name="email" type="text" class="login__input name" placeholder="Email" ng-model="vm.user.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"/>
              </div>
              <div class="login__row">
                <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                  <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" stroke="#33cd5f"
  stroke-width="1" fill="none"/>
                </svg>
                <input required name="password" type="password" class="login__input pass" placeholder="Password" ng-model="vm.user.password"/>
              </div>
              <div class="login__row">
                <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                  <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" stroke="#33cd5f"
  stroke-width="1" fill="none"/>
                </svg>
                <input required name="password" type="password" class="login__input pass" placeholder="Confirm Password"
                       ng-model="vm.user.password1"/>
              </div>
              <div class="login__row">
                <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                  <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" stroke="#33cd5f"
  stroke-width="1" fill="none"/>
                </svg>
                <input required name="firstname" type="text" class="login__input pass" placeholder="First Name" ng-model="vm.user.firstname"/>
              </div>
              <div class="login__row">
                <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                  <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" stroke="#33cd5f"
  stroke-width="1" fill="none"/>
                </svg>
                <input  name="lastname" type="text" class="login__input pass" placeholder="Last Name" ng-model="vm.user.lastname"/>
              </div>

              <div>
                <div class="mistmatch" ng-if="signupForm.firstname.$invalid && signupForm.$dirty">Firstname Required</div>

                <div class="mistmatch" ng-if="signupForm.email.$invalid && signupForm.email.$dirty">Invalid Email</div>
                <div class="mistmatch" ng-if="vm.user.password != vm.user.password1">Password Mismatch</div>

                <button type="submit" class="button login__submit " ng-disabled="(vm.user.password != vm.user.password1) || signupForm.$invalid">Sign Up
                </button>

                <button type="button" class="button button-positive login__submit_facbook"
                        ng-click="vm.Oauth('facebook')">
                  <i class="fa fa-facebook social-icon" aria-hidden="true"></i>
                  Signup with Facebook
                </button>
              </div>
            </form>
          </div>
      </div>
    </div>
    </ion-content>
</ion-view>

