#filter-view{

  .list{
    padding: 60px;
  }
  li{
    border-style: none;
  }

}


ion-popover-view{
  top: 25% !important;
  left: 35% !important;
  margin-left: 0px !important;
  opacity: 1 !important;
  border-radius: 50px !important;
}
